
$primary-gradient: linear-gradient(155deg, rgba(31,145,216,1) 41%, rgba(206,214,26,1) 100%);
$grey-gradient: linear-gradient(155deg, rgba(241,250,255,1) 41%, rgba(219,219,219,1) 100%);

$primary-radius: 30px;