@use '../../stylesheets/variables' as v;

.table__message {
    width: 100%;
    min-height: 100px;
    font-size: v.$font-m;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$color-light-font;
}