.user-table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-table__heading {
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 700;
}

.user-table__table {
  border: solid 1px rgb(219, 216, 216);
  border-radius: 20px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #ffffff 0%, #e3e3e4 100%);
}

.user-table__content {
  min-height: 200px;
  border: solid 1px rgb(219, 216, 216);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
}

.section {
  width: 1200px;
  border-radius: 30px;
  padding: 2% 4%;
  background: #ffffff;
}

.table__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px rgb(219, 216, 216);
}

.table__cell {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 25%;
  transition: all 0.2s;
}
.table__cell:hover {
  background-color: #001cff;
  color: #ffffff;
  font-weight: 600;
}

.table__head-cell {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 25%;
  transition: all 0.2s;
  gap: 5px;
}
.table__head-cell:hover {
  color: #001cff;
}

.table__head {
  border-bottom: none;
  font-weight: 600;
}

.table__message {
  width: 100%;
  height: 200px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9c9c9;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1200px) {
  .search-bar {
    flex-direction: column-reverse;
    gap: 5px;
  }
}
.search-bar__button {
  background-color: #ffffff;
  border: solid 1px rgb(219, 216, 216);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s;
}
.search-bar__button:hover {
  transform: translateY(-2px);
}
.search-bar__button:active {
  transform: translateY(2px);
}
.search-bar__button--current {
  color: #ffffff;
  background-color: #001cff;
}

.search-bar__field {
  background-color: #ffffff;
  border: solid 1px rgb(219, 216, 216);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.search-bar__field--active {
  color: #ffffff;
  background-color: #001cff;
}

.search-bar__input {
  border: none;
  outline: none;
  font-size: 1.1rem;
}
.search-bar__input:focus-visible {
  border: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(155deg, #3fbaff 0%, #001cff 100%);
}

/*# sourceMappingURL=index.css.map */
